
#searchBar{
  
    width: 600px;
   
}
#searchDiv{
    margin-top: 20px;
}
form{
    position: absolute;
    left: 10%;
}
p{
    color: white;
}
span{
    text-decoration: underline;
}
#cart-image{
    position: absolute;
    right: 220px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
